.navbar-brand a {
  text-decoration: none !important;
}

.navbar-toggler.collapsed {
  transition: transform 0.5s ease 0s;
  transform: rotate(0deg);

  border: none;
}

.navbar-toggler:not(.collapsed) {
  transform: rotate(-90deg);
  transition: transform 0.5s ease 0s;

  border: none;
}

.fieldset-upload-table {
  font-weight: 600;
}

.line-input {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  padding: 5px 0;
  outline: none;
}


label.form-label{
    margin: 0px;
}

input.form-control{
  border: 1px solid #a9acae!important;
}

fieldset{
  border: 1px solid #8e9194!important;
}

.progress{
  height: 12px;
}

.extraction-field-confidence{
  justify-content: center!important;
}


/* ===== data cards styles ===== */

/* Card content font size */
.card-body {
    font-size: 14px;
}

/* Thinner scrollbar for value fields */
.value-scroll-container {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    scrollbar-width: thin; /* Firefox */
}

/* Webkit browsers (Chrome, Safari, Edge) */
.value-scroll-container::-webkit-scrollbar {
    height: 3px; /* Very thin scrollbar */
}

.value-scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.value-scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
}

/* input field-edit fields */
input.field-edit{
  background-color: #ccdbe5!important;
  padding: 0px!important;
  padding-left: 3px!important;
  height: auto!important;
  line-height: 1.2 !important;
  font-size:12px !important;
}

input.field-edit:focus {
  border-color: #495057 !important;      /* Darker border on focus */
  outline: none !important;
  box-shadow: 0 0 0 0.5rem rgba(80, 84, 87, 0.25) !important;
}