services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    # This value is saved inside the container's OS as an Environment Variable
    # If we run echo $MONGO_URI$ it will print our atlas linnk
    environment:
      - PYTHONUNBUFFERED=1
      - MONGO_URI=mongodb+srv://minhhanduc:${MONGO_ATLAS_PASSWORD}@crud-app.k2lqhn4.mongodb.net/?appName=CRUD-APP
    env_file:
      # for the env file Docker Compose looks at our computer (host) to find this file
      # the expected file must also be in the standard .env format
      # - ./docker_backend/creds.py (This won't work)
      - .env
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "8080:80"
    depends_on:
      - backend